@model Blog.ViewModels.PostDetailsViewModel
@using Microsoft.AspNet.Identity
@using Blog.Constant

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>


<div>
    @{
        //var imgsrc = "/Post/Images/pisanie-reczne.jpg";
        if (Model.Image.Length != 0)
        {
            var base64 = Convert.ToBase64String(Model.Image);
            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);

            <img src='@imgsrc' style="max-width:500px; max-height:500px " />

        }


    }
</div>
<div>

    @Model.Content
</div>
<br />


<div>
    @Model.AuthorName
</div>
<div>
    @Model.Created
</div>
<div>
    @if (Request.IsAuthenticated && User.IsInRole(Constant.User.ROLE_ADMIN))
    {
        <a href="@Url.Action("Edit", "Posts", new { id = Model.Id }, null)" class="btn btn-primary">Edytuj</a>


        <div style="margin-top:20px">
            <a href="@Url.Action("Delete", "Posts", new { id = Model.Id }, null)" class="btn btn-primary ">Usuń</a>
        </div>

    }
</div>




