@model Blog.ViewModels.PostsListViewModel

@{
    ViewBag.Title = "Home Page";
}

<h2>Twoje Posty</h2>

    @Html.ActionLink("Dodaj","Create","Posts",null, new { @class = "btn btn-success"})



<table class="table">
    <thead>
        <tr>
            <th class="text-center">
               Tytuł
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PostsList)
        {
           
            <tr>
                <td class="text-center">
                    @item.Title
                </td>
   
                <td>
                    @Html.ActionLink("Wyświetl", "Details", "Posts", new { id = item.Id }, null) |
                    @Html.ActionLink("Edytuj", "Edit","Posts", new { id = item.Id }, null) |
                    @Html.ActionLink("Usuń", "Delete", "Posts", new { id = item.Id }, null) |

                </td>
            </tr>
          
        }
    </tbody>


    </table>
